body {
    margin: 0;
    background-image: url(/images/background.png);
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
nav {
    text-align: center;
    padding: 1px;
    text-align: center;
}


li {
    display: inline-block;
    margin-right: 35px;
    font-family: 'Montserrat', sans-serif;
}

li:hover {
    box-shadow: 0px 0px 8px white;
}

ul {
    list-style: none;
    padding: 0;
}

a:link, a:visited {
    color:#164863;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

form {
    width: 300px; /* a largura do formulário */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}
form input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color:#164863;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #164863;
}

@media (max-width: 1020px){
    main {
        width: 95%;
    }
    main form {
        margin-left: 5%;
    }
}

input, button {
    display: block;
    box-sizing: border-box;
    padding: 8px;
    margin: 8px 0 15px;
    border: 0.5px solid gray;
    border-radius: 2px;
    margin-bottom: 30px;
}

input:focus {
    background-color: white;
    border: 0.5px solid grey;
    box-shadow: 0 0 10px rgb(187, 187, 187);
    outline: none;
}

.informacoes {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1020px){
    form {
        width: 100%;
    }
}

footer p { 
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 4px;
    background-color: #427D9D;
    color: white;
}