body {
    margin: 0;
    background-image: url(/images/background.png);
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
}


.titulo {
    font-family: 'Montserrat', sans-serif;
    color:#164863;
    font-size: 12px;
    text-align: center;
    margin-top: 5%;
   
}


nav {
    text-align: center;
    padding: 1px;
    text-align: center;
}


li {
    display: inline-block;
    margin-right: 35px;
    font-family: 'Montserrat', sans-serif;
}

li:hover {
    box-shadow: 0px 0px 8px #164863;
}

ul {
    list-style: none;
    padding: 0;
}

a:link, a:visited {
    color:#164863;
    text-align: center;
    text-decoration: none;   
}

.container {
    padding: 0.5%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.cards {
    font-family: 'Montserrat', sans-serif;
    color:#164863;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; /* permitir que os cards quebrem para a próxima linha */
    justify-content: center; /*cards posicionados no centro */
    gap: 1rem; /*espaço entre eles*/
}

.card-item {
    width: 300px; 
    margin: 0.5rem; 
    text-align: center;
    border-radius: 10px; /* para bordas arredondadas */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}

.card-item img {
    max-width: 100%; /*largura imagem do card*/
    height: auto;
}

.descricao {
    padding: 20px;
}

.gallery h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color:#164863;
    text-align: center;
    margin: 5% 10%;
}

@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

.container {
    animation: go-back 3s;
}

footer p { 
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 4px;
    background-color: #427D9D;
    color: white;
}
