body {
    margin: 0;
    background-image: url(/images/background.png);
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
}

/* header */
nav {
    text-align: center;
    padding: 1px;
    text-align: center;
}


li {
    display: inline-block;
    margin-right: 35px;
    font-family: 'Montserrat', sans-serif;
}

li:hover {
    box-shadow: 0px 0px 8px white;
}

ul {
    list-style: none;
    padding: 0;
}

a:link, a:visited {
    color:#164863;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

/* começo dos sections */
section {
    padding: 2% 4%;
    width: 70%;
    margin: 0 auto;
}

/*section inicio */

section.inicio {
    padding: 40px 4%;
}

.apresentacao {
    display: flex;
}


section.inicio .apresentacao {
    align-items: center; 
    justify-content: center;
    gap: 90px; /*distancia entre conteudo e imagem*/
}


.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    color:#164863;
}

.texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#072637;
}

.imagem img {
    max-width: 450px;
}


/* section do meio */
section.meio {
    padding: 40px 4%;
}

.apresentacao-meio {
    display: flex;
}


section.meio .apresentacao-meio {
    align-items: center; 
    justify-content: center;
    gap: 90px; /*distancia entre conteudo e imagem*/
}


.titulo2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    color:#164863;
}

.texto2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#072637;
}

.imagem2 img {
    max-width: 450px;
}


/*section 3*/
section.fim {
    padding: 40px 4%;
}

.apresentacao_fim {
    display: flex;
}


section.fim .apresentacao_fim {
    align-items: center; 
    justify-content: center;
    gap: 90px; /*distancia entre conteudo e imagem*/
}


.titulo3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color:#164863;
}

.texto3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#072637;
}

.imagem3 img {
    max-width: 400px; 
}

/* animacoes */
@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

.apresentacao, .apresentacao-meio, .apresentacao_fim {
    animation: go-back 3s;
}

/* media queries para ficar responsivo em outras telas com width igual ou menor que 1020*/
@media screen and (max-width: 1020px){
    .imagem img, .imagem2 img, .imagem3 img {
        max-width: 100%;
        height: auto;
    }

    .apresentacao {
        flex-direction: column;
        
    }
    .apresentacao, .conteudo1 {
        flex-direction: column-reverse;
    }

    .titulo {
        font-size: 25px;
    }

    .texto {
        font-size: 17px;
    }
   
    .apresentacao-meio {
        flex-direction: column;
        
    }
    .titulo2 {
        font-size: 25px;
    }

    .texto2 {
        font-size: 17px;
    }
    .apresentacao_fim {
        flex-direction: column;
        
    }
    .apresentacao_fim, .conteudo3 {
        flex-direction: column-reverse;
    }
    .titulo3 {
        font-size: 25px;
    }

    .texto3 {
        font-size: 17px;
    }
}

footer p { 
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 4px;
    background-color: #427D9D;
    color: white;
}

