  body
  {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }
  
  header{
    background-color: #e3f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .listagem
  {
    width: 85%;
    margin: 0 auto;
  }
  .listagem div
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .listagem h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 0;

  }
  footer p
  {
    width: 100%;
    text-align: center;
    background-color: #427D9D;
    color: white;
    bottom: 0;
    position: absolute;
  }